
body{
    font-family: sans-serif;
    margin: 0%;
}
header{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3VvU-TR7frqv2tVjFdLe3xTAlWUxgHDcXiA&usqp=CAU);
}


header{
    width:100%;
    height:500px;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    background-position: center;
    background-size: cover;
    float: left;
}
.wrap{
    width:90%;
    margin:0 auto ;

}


.old{
    margin-top: 0%;
    margin-left: 15px;
    overflow-clip-margin: content-box;
    height: 240px;
    width: 230px;
}
.left part{
    width: 20px;
    height: 300px;
    float:left;
    text-align: center;
    

}
 .menu-wrap ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}
.menu-wrap ul li {
    display: block;
    padding: 0;
}
.right part{
    width: 70%;
    height: 200px;
    float: right;
    display: flex;
    justify-content: space-between;

}
.one,.two,.three,.four,.five,.six{
    display: flex;
    color: #fff;
}
    




.botttom part{
    height: 200px;
    width: 70%;
    float:left;
    position: relative;

}
.bottom text{
    position: absolute;

}

h3{
    color: white;
}
h1{
    color: white;
    margin-top: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
    
    
}
.wrap{
    width: 90%;
    margin:0% auto;
    margin-top: 120px;
   
}
.paragraph{
    width: 100%;
    float: left;
}
    

.left side{
    width: 60%;
    float: left;
    padding: 0  5% 0 0;
    min-height: 100px;

}
p{

    margin-block-start: 1em;
    margin-inline-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.right side{
    width: 30px;
    min-height: 100px;
    float: left;
    padding: 0 0 0 5%;
    
    
}
.right{
    height: 300px;
    width: 200px;
    float: right;

}
footer{
    width: 100%;
    background-color: black;
    float: left;
    color: white;
    margin-top: 50px;
    text-align: center;
    padding: 40px 0 10px  0;
    width: 100%;
    
    
}
.wrap{
    width: 90%;
    margin: 0 auto;

}
.footer message{
    color: white;
    font-size: 0.5em;
    margin-bottom: 3px;
     letter-spacing: 1px;
     font-family: Arial, Helvetica, sans-serif;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;

}
.dreamo a{
    color: #fff !important;
        font-size: 8px !important;
        font-weight: bold !important;
        letter-spacing: 1px !important;
        font-family: arial !important;
        text-decoration: none !important;
        float: right;
    }
